<div class="navbar">
    <h2>Welcome</h2>
    <a class="btn btn-primary" href="/index" role="button">Login | Sign Up</a>
</div>

<div class="jumbotron text-center header-wrap" align="center">
    <h1><strong>《 Your Timelines 》</strong></h1>

    <p>View your existing timelines or create a brand new one!</p>
</div> {{!-- end jumbotron --}}


<div class="container">
    <div class="row row1">
        <div class="col-md-3" id="createTimelineDiv">
            <div>
                <h4>Add new Timeline</h4>
                <hr id="createHR">
                <form class="timelineForm">
                    <div class="form-group">
                        <label for="timelineTitle">Timeline Title</label>
                        <input class="form-control" id="timelineTitle" aria-describedby="eventTitle" name="title">
                    </div>
                    <div class="form-group">
                        <label for="timelineCategory">Timeline Category</label>
                        <select class="form-control" id="timelineCategory">
                            <option value="1">History</option>
                            <option value="2">Personal</option>
                            <option value="3">Science</option>
                            <option value="4">Pop Culture</option>
                            <option value="5">Other</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary">Create Timeline</button>

                </form>

            </div>
        </div>{{!-- end col-md --}}

        <div class="col-md-4" id="editTimelineDiv">
            <div>
                <h4>Create an Event</h4>
                <hr id="createHR">
                <form id="eventForm">
                    <div class="form-group">
                        <label for="category">Select Timeline:</label>
                        <select class="timeline-select" id="timeline">
                            {{!-- this is where the timelines will go --}}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="eventTitle">Event Title</label>
                        <input class="form-control" id="eventTitle" aria-describedby="eventTitle">
                    </div>
                    <div class="form-group">
                        <label for="descriptionArea">Event Description</label>
                        <textarea class="form-control" id="descriptionArea" rows="2"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="startDate">Start Date</label>
                                <input class="form-control" id="startDate" placeholder="DD-MM-YYYY">
                            </div>
                            <div class="col">
                                <label for="endDate">End Date (optional) </label>
                                <input class="form-control" id="endDate" placeholder="DD-MM-YYYY">
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </form>
        </div>

        <div class="col-md-4" id="editTimelineDiv">
            <h4>Edit an Event</h4>
            <hr id="createHR">
            <form id="timelineEditForm">
                <div class="form-group">
                    <label for="category">Select Timeline:</label>
                    <select class="timeline-select" id="timeline-event">
                        {{!-- this is where the timelines will go --}}
                    </select>
                </div>
                 <button type="submit" id = "timelineSubmit" class="btn btn-primary">Submit Timeline</button>
                </form>
                <div class="form-group">
                    <form id = "eventEditForm">
                    <label for="category">Select Event:</label>
                    <select class="event-select" id="event-select">
                        {{!-- this is where the timelines will go --}}
                    </select>
                </div>
                <button type="submit" id = "eventSubmit" class="btn btn-primary">Submit Event</button>
                </form>
                <p>Event Title</p>
                <div class="event-title" id = "event-title"></div>

                <p>Event Description</p>
                <div class="event-description" id = "event-description"></div>
                <p>Start Date</p>
                <div class="start-date"></div>
                <p>End Date</p>
                <div class="end-date"></div>

                <button type="submit" class="btn btn-primary">Edit Event</button>
            </form>
        </div>{{!--end column--}}

    </div>{{!-- end row --}}
</div> {{!-- end container --}}

<div class="col-md-12" id="userCreatedTimelines">
    <div>

        <h4>Your Timelines</h4>
        <hr id="divider">
        <p>Barbie<button>View</button><button>Edit</button><button>Delete</button></p>
        <p>Family History<button>View</button><button>Edit</button><button>Delete</button></p>
    </div>


    <div class="col-md-12" id="timeline">
        Timeline will render here
    </div> {{!-- end container/timeline1 --}}