<div class="navbar">
    <h2>Welcome</h2>
    <p>Login/Sign Up</p>
</div>

<div class="jumbotron text-center header-wrap" align="center">
    <h1><strong>《 Your Timelines 》</strong></h1>

    <p>View your existing timelines or create a brand new one!</p>
</div> {{!-- end jumbotron --}}


<div class="container">
    <div class="row row1">
        <div class="col-md-3">
            <div id="userCreatedTimelines">

                <h4>Your Timelines</h4>
                <hr id="divider">
                <p>Barbie</p>
                <p>Family History</p>

            </div>
        </div> {{!-- end col-md --}}
        <div class="col-md-9">
            <div id="createTimelineDiv">
                <h4>Create a Timeline</h4>
                <div class="row">
                    <div class="col-md-6">
                        <span id="event">
                            <p>Event: </p>
                        </span>
                        <span id="description">
                            <p>Description: </p>
                        </span>
                    </div>
                    <div class="col-md-6">
                        <span id="startDate">
                            <p>Start Date: </p>
                        </span>
                        <span id="endDate">
                            <p>End Date: </p>
                        </span>
                    </div>

                </div> {{!-- end row --}}
            </div>
        </div>{{!-- end col-md --}}
    </div>{{!-- end row --}}
</div> {{!-- end container --}}



<div class="col-md-12" id="timeline">
    Timeline will render here
</div> {{!-- end container/timeline1 --}}