
<div class="navbar">
    <h2>
        <a href="/">
            <svg width="24" height="30" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd">
                <path d="M22 11.414v12.586h-20v-12.586l-1.293 1.293-.707-.707 12-12 12 12-.707.707-1.293-1.293zm-6 11.586h5v-12.586l-9-9-9 9v12.586h5v-9h8v9zm-1-7.889h-6v7.778h6v-7.778z" />
            </svg>
        </a>
    </h2>
    <a class="btn btn-primary" href="/index" role="button">Login | Sign Up</a>
</div> {{!-- end navbar --}}

<div class="jumbotron text-center header-wrap" align="center">
    <h1><strong> <span id="arrow1">《</span> ChronoLogical <span id="arrow2"> 》</span></strong></h1>

    <p><span id="subtitle">Join in on the Fun!</span></p>
</div> {{!-- end jumbotron --}}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Login Form</h2>
            <form class="login" id = "login">
                <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="username" class="form-control" id="usernamelogin-input" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="passwordlogin-input" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>
            <br />
        </div>
    

<div class="col-md-5 signUpCard">
            {{!-- SIGN UP CARD --}}
            <div id="signup" class="card ">
                <div class="card-header">
                    <h2>Sign Up</h2>
                </div>
                <div class="card-body">
                   <form class="signup" id = "signup">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="email-input" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername1">Username</label>
                    <input type="username" class="form-control" id="username-input" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="password-input" placeholder="Password">
                </div>
                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>
                <button type="submit" class="btn btn-default">Sign Up</button>
            </form>
                            
            <br />
        </div>
    </div>
