<div class="col-md-12" id="timeline">
   <h1 class="header">Test TimeLine</h1>
    <div class="timeline">
        <div class="timeline__wrap">
            <div class="timeline__items">

                {{#each data}}
                {{> timeline-item}}
                {{/each}}

            </div> <!-- end class=timeline__items -->
        </div> <!-- end class=timeline__wrap -->
    </div> <!-- end class=timeline -->
</div> {{!-- end container/timeline1 --}}