@import url('https://fonts.googleapis.com/css?family=Boogaloo|Major+Mono+Display|News+Cycle|Quicksand|Staatliches');

/*************************************/
/*                                   */
/* MAIN CSS FOR ALL HANDLEBARS PAGES */
/*                                   */
/*************************************/


/* ------- */
/* NAVBAR */
/* ------- */

.navbar {
    background-color: white;
}

.navbar h2 {
    color: black;
}

.navbar h2 {
    margin-bottom: 0px;
}

/* --------- */
/* JUMBOTRON */
/* --------- */

.jumbotron {
    background-image: url("../images/header.jpg");
    background-size: cover;
    color: white;
}

.jumbotron h1 {
    font-size: 7em;
    text-shadow: 5px 5px 10px grey;
    font-family: "Quicksand";
}

.jumbotron p {
    font-family: "Quicksand";
    margin-top: 2%;
}

.jumbotron span#subtitle {
    background-color: grey;
    padding: .5%;
    border-radius: 50px;
}


.jumbotron #arrow1 {
    /* transition: .5s; */
    animation: arrow1 1.5s infinite;
}

@keyframes arrow1 {
    0% {margin-right:0px;}
    50% {margin-right:10px;}
    100% {margin-right:0px;}
}


.jumbotron #arrow2 {
    /* transition: .5s; */
    animation: arrow2 1.5s infinite;
}

@keyframes arrow2 {
    0% {margin-left:0px;}
    50% {margin-left:10px;}
    100% {margin-left:0px;}
}

/*******************************/
/*                             */
/* CSS FOR MAINPAGE.HANDLEBARS */
/*                             */
/*******************************/

/* ----- */
/* STEPS */
/* ----- */

#stepOne {
    text-align: center;
    margin-bottom: 32px;
}

#stepTwo {
    text-align: center;
    /* margin-bottom: 32px; */
    margin-top: 32px;
}


/* ----------------------- */
/* PUBLIC & USER TIMELINES */
/* ----------------------- */

/* PUBLIC TIMELINES */

#publicTimelines {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    text-align: center;
    padding: 2%;
}

#publicTimelines h1 {
    text-decoration: underline;
    text-align: center;
    font-family: "Boogaloo";
}

p.publicTimelineOption {
    /* border: 1px solid black; */
    text-align: center;
    margin-bottom: 1%;
    transition: .3s;
}

p.publicTimelineOption:hover {
    color: lightblue;
    /* Start http://www.cursors-4u.com */ 
    cursor: url(http://cur.cursors-4u.net/others/oth-7/oth665.cur), auto !important; 
    /* End http://www.cursors-4u.com */
}


/* USER TIMELINES */

#userTimelines {
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    text-align: center;
    padding: 2%;
}

#userTimelines h1 {
    text-decoration: underline;
    text-align: center;
    font-family: "Boogaloo";
}

p.userTimelineOption {
    margin-bottom: 1%;
}

span.userTimelineOption {
    /* border: 1px solid black; */
    text-align: center;
    /* margin-bottom: 1%; */
    transition: .3s;
}

span.userTimelineOption:hover {
    color: lightblue;
    /* Start http://www.cursors-4u.com */ 
    cursor: url(http://cur.cursors-4u.net/others/oth-7/oth665.cur), auto !important; 
    /* End http://www.cursors-4u.com */
}


/* ---------------- */
/* TIMELINE OPTIONS */
/* ---------------- */

.selectedTimelines{
    margin-top: 2%;
    margin-bottom: 2%;
}

.selectedTimelines span {
    font-family: "Quicksand";
}

#option1, #option2 {
    /* border: 1px solid grey; */
    margin-top: 4%;
    color: blue;
}

.goButton {
    margin-top:15px;
}

.clearButton {
    margin-top: 15px;
}

.newButton {
    margin-top: 15px;
}

/* ----------------- */
/* RENDERED TIMELINE */
/* ----------------- */

/* #timeline {
    border: 2px solid red;
} */


/*****************************/
/*                           */
/* CSS FOR CREATE.HANDLEBARS */
/*                           */
/*****************************/


/* ----------------- */
/* CREATE A TIMELINE */
/* ----------------- */


#createTimelineDiv {
    /* border: 1px solid blue; */
    font-family: "Quicksand";
    
}

#createTimelineDiv h3 {
    margin-top: 2%;
    margin-bottom: 0px;
    text-align: center;
    font-family: "Boogaloo";
}

/* -------------------- */
/* CREATE TIMELINE FORM */
/* -------------------- */

form {
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}



/* --------------- */
/* USERS TIMELINES */
/* --------------- */

.row1 {
    margin-bottom: 2%;
}

#userCreatedTimelines {
    /* border: 1px solid blue; */
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
}

#userCreatedTimelines h3 {
    margin-top: 2%;
    margin-bottom: 0px;
    font-family: "Boogaloo";
}

#divider {
    margin-top: 0px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* ----------------- */
/* CREATE EVENT FORM */
/* ----------------- */

#createEventDiv {
    font-family: "Quicksand";
}

#createEventDiv h3 {
    margin-top: 1%;
    margin-bottom: 0px;
    font-family: "Boogaloo";
    text-align: center;
}


/* --------------- */
/* EDIT EVENT FORM */
/* --------------- */

#editTimelineDiv {
    font-family: "Quicksand";
}

#editTimelineDiv h3 {
    margin-top: 1%;
    margin-bottom: 0px;
    font-family: "Boogaloo";
    text-align: center;
}

#timelineSubmit {
    margin-left: 2%;
}

#eventSubmit {
    margin-left: 2%;
}

input {
    width: 100%;
}

.crudButtons{
    padding-left: 2%;
    margin-top: 2%;
}

/******************************/
/*                            */
/* CSS FOR RENDERING TIMELINES */
/*                            */
/******************************/



/* ------------- */
/*  TIMELINE CSS */
/* ------------- */
h1.header {
    text-align: center;
    font-size: 3em;
}

div.timeline__content {
text-align: center;
}

div.timeline__item.timeline__item--left {
    padding-left: 5%;

}

div.timeline__content {
    background-image: linear-gradient(to right, white, lightgreen, white);
}

div.timeline__content.timeline1 {
    background-image: linear-gradient(to right, white, pink, white);
}

div.timeline__content.timeline2 {
    background-image: linear-gradient(to left, white, lightblue, white);
}


div.timeline__item.timeline__item--right {
    padding-right: 5%;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


/******************************/
/*                            */
/* CSS FOR SIGNUP/LOGIN CARDS */
/*                            */
/******************************/

#login {
    /* border: 1px solid green; */
}

#signup {
    /* border: 1px solid red; */
}

.container.loginIn {
    margin-top: 3%;
}

.indexContainer {
    margin-bottom: 3%;
}
